/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    display: flex;
    justify-content: center;
    
    width: 100%;
    
}
.aulas{
    width: 100%;
    border-bottom: 3px solid red;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 50px;
}